<html ng-app="recordsApp">
	<head>
		<title>GoAutoDial call records</title>
	</head>

	<body ng-controller="recordsController">
		<hr>
		<table>
			<tr>
				<th>Фильтр: 
					<select ng-model="searchText.IsInbound">
						<option value="true">Входящие</option>
						<option value="false">Исходящие</option>
						<option value="">Все</option>
					</select>
				</th>
				<th>Поиск: <input ng-model="searchText.Agent"></th>
				<th>Поиск: <input ng-model="searchText.Phone"></th>
				<th>Поиск: <input ng-model="searchText.CallDate"></th>
				<th>
					Дата: <input class="calendar" type="text">
				</th>
			</tr>
			<tr>
				<th>
					Тип вызова
				</th>
				<th>
					Агент
				</th>
				<th>
					Номер звонящего
				</th>
				<th>
					Дата и время звонка
				</th>
				<th>
					Запись разговора
				</th>
				<th></tr>
			</tr>
			<tr ng-repeat="record in filteredRecords = (records | filter : searchText) | limitTo:numPerPage:numPerPage*(currentPage-1)">
				<td>{{record.IsInbound ? "Входящий" : "Исходящий"}}</td>
				<td>{{record.Agent}}</td>
				<td>{{record.Phone}}</td>
				<td>{{record.CallDate}}</td>
				<td>
					<audio controls preload="none">
						<source src="{{record.Location}}" type="audio/mp3">
						Your browser does not support the audio element.
					</audio>
				</td>
				<td>
					<a href="{{record.Location}}" download type="application/x-www-form-urlencoded">Скачать</a>
				</td>
			</tr>
		</table>
		<pagination 
	    	ng-model="currentPage"
		    total-items="records.length"
		    max-size="maxSize"  
		    boundary-links="true">
		</pagination>

		<div id="mydiv" ng-show="loading">
		    <img src="img/ajax-loader.gif" class="ajax-loader"/>
		</div>

		<div id="calendar-background">
			<div class="calendar"></div>
		</div>
	</body>

	<script type="text/javascript" src="js/pickmeup.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/lib.js"></script>

	<link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<link rel="stylesheet" href="css/pickmeup.css" />
    <link rel="stylesheet" href="css/style.css" />
</html>